*{
    margin: 0;
    padding: 0;
}
body{
    
    background: white url("/static/images/registeration_image2.jpg") no-repeat;
    }
/* ----------- Navigation bar --------*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;    
}
.navbar-brand
{  margin-top: -70px;
height: 20px;
padding-left: 50px;
}
.navbar-nav li
{
padding:0 10px;
}
.navbar-nav li a
{
float: right;
text-align: right;
}
#nav-bar ul li a:hover{
color: #007bff!important;
}
.navbar{
background: #ffff;
}
.navbar-toggler{
border: none!important ;
}
.nav-link{color: #555!important; font-weight:600; font-size: 16px;}

/*------------ registerbox------------ */

.registerbox{
    width: 400px;
    height: 750px;
    background: #2d85b0;
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.logimage{

    width: 100px;
    height: 100px;
    border-width: 20px;
    position: absolute;
    top: -50px;
    left: 150px;
}
h1{
    margin: 0;
    padding: 50px 0 50px;
    text-align: center;
    font-size: 26px;
}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;

}
.registerbox input[type="submit"]{
    border:  solid;
    outline: none;
    height: 40px;
    color: #fff;
    background: #2D85B0;
    font-size: 18px;
    border-radius: 20px;

}

.registerbox input[type="submit"]:hover{
    cursor: pointer;
    background:#fff;
    color:#2D85B0;
}

.registerbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color : #fff;
}
.registerbox a:hover{
    color: #000
}