{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN US</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    
</head>
<body>
     <!-- NavigationBar -->
     <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="{% static 'images/atul cattle & co llp.png' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT US</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">JOIN US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LOGIN</a>
              </li>
            
            </ul>
          </div> 
        </nav>
      </section>

    <div class="loginbox">
        <img src="{% static 'images/logimage.png' %}" class="logimage">
        <h1>Login Here</h1>
        <form action="login" method="POST">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" placeholder="Username"><br>
            <p>Password</p>
            <input type="password" name="password" placeholder="password"><br>
            <input type="submit">
            <a href="#">Lost Your Password?</a><br>
            <a href="#">Don't Have an Account?</a><br>
        </form>

        <div>
            {% for message in messages%}
                <h3>{{message}}</h3> 
            {% endfor %}
        </div>
    </div>
    
    
    
</body>
</html>